@using PagedList.Mvc;
@model PagedList.IPagedList<CRM.Web.ViewModel.ClientListModel>

@*@model IEnumerable<CRM.Web.Models.ClientListModel>*@

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div style="font-family:Arial">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p>
        @using (Html.BeginForm("List", "Client", FormMethod.Get))
        {
            @Html.TextBox("Search")

            <input type="submit" value="search" /><br />
        }
    </p>

    <table class="table" border="1">
        <tr>
            <th>
                Client ID
                @*@Html.DisplayNameFor(model => model.ClientId)*@
            </th>
            <th>
                Client Name
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                Ticket Start Number
                @*@Html.DisplayNameFor(model => model.TicketStartNumber)*@
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStartNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ClientId }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
</div>