@model CRM.UI.ViewModels.TicketCreateModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>
@using (Html.BeginForm())
{
    var Success = ViewBag.Message;
    if (Success != "")
    {
        <h3 style="color:green">@Success</h3>
    }
    else
    {
        <h3>ViewBag.ErrorMessage</h3>
    }
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.TicketNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TicketNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TicketNo, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.CompanyId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CompanyId, (SelectList)ViewBag.lstDropdown, "Select Company", new { @class = "form-control required", @id = "ddlCompanies", @name = "ddlCompanies", @onchange = "BindDropDownOptions(this.id)" })
                @Html.DropDownListFor(model => model.CompanyId, new SelectList(ViewBag.lstDropdown, "ID", "Name"), "Select Company", new { @class = "form-control", @Id = "ddlCompanies", @Name = "ddlCompanies", @onchange = "BindDropDownList(this.id)" })
                @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProductId,new SelectList(Model.lstproducts,"Id","Name"),"Select Product", new { @class = "form-control",@Id="ddlProducts",@Name= "ddlProducts", @onchange="BindDropDownList(this.id)" })
                @*@Html.DropDownListFor(model => model.ProductId, (SelectList)ViewBag.lstProducts, "Select Product", new { @class = "form-control required", @Id = "ddlProducts", @name = "ddlProducts", @onchange = "BindDropDownOptions(this.id)" })*@
                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComponentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(model => model.ComponentId, (SelectList)ViewBag.lstComponents, "Select Component", new { @class = "form-control required", @Id = "ddlComponents", @name = "ddlComponents", @onchange = "BindDropDownOptions(this.id)" })*@
                @Html.DropDownListFor(model => model.ComponentId, new SelectList(Model.lstComponents, "ID", "Name"),"Select Component", new { @class = "form-control", @Id = "ddlComponents", @Name = "ddlComponents"})
                @Html.ValidationMessageFor(model => model.ComponentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Version,new SelectList(Model.lstVersions,"VersionId","VersionName"),"Select Version", new {  @class = "form-control" , @Id = "ddlVersions" } )
                @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
            </div>
        </div>

       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick="save();" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>
<script type="text/javascript">
    //function save() {
    //    $("#id").val('Title', 'Description', 'ProductId', 'ComponentId', 'Version', 'CompanyId');

    //}

    function BindDropDownList(id) {
        debugger;
        var actionUrl = '@Url.Action("BindDropDowns", "Ticket")';
       
         var ProductID = $("#ddlProducts").val();
         
         $.post(actionUrl, { flag: "Components", Id: ProductID }, function (response) {
                    $("#ddlComponents").html(response).prepend("<option value=''>Select Component </option>");
                });
         
         $.post(actionUrl, { flag: "Versions", Id: ProductID }, function (response) {
             $("#ddlVersions").html(response).prepend("<option value=''>Select Versions </option>");
         });
          
          
    }

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
