@using PagedList.Mvc;
@model PagedList.IPagedList<CRM.UI.ViewModels.TicketListModel>

@{
    ViewBag.Title = "GetAllTickets";
}
@using CRM.Model
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{

    PagedList.PagedList<Ticket> list = ViewBag.tickets;
    <div>
       <label>Copmapny Name</label> 
        @Html.TextBox("SearchClientName", "", new { @id = "SearchClientName", @Name = "SearchClientName" })

        @Html.TextBox("StartIndex", "", new { @id = "StartIndex", @Name = "StartIndex" })

        @Html.TextBox("EndIndex", "", new { @id = "EndIndex", @Name = "EndIndex" })
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().TicketNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ComponentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Assignee)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.First().CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateCreated)
            </th>
            <th>Actions</th>
        </tr>
        @if (list != null )
        {
            foreach (var item in list)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComponentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Version)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assignee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Create", new { id=item.TicketId }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }

    </table>
    @Html.PagedListPager(list, page => Url.Action("List", new { page }))
    
}