@using BotDetect.Web.Mvc
@model CRM.Web.Models.ForgotPasswordModel


@{
    ViewBag.Title = "Reset";
}

<h2>Reset</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ForgotPasswordModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecurityCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SecurityCode)
            @Html.ValidationMessageFor(model => model.SecurityCode)
        </div>
        <div>
        @{ BotDetect.Web.Mvc.MvcCaptcha Captcha = new BotDetect.Web.Mvc.MvcCaptcha("Venkanna"); }
        @Html.Captcha(Captcha)
        @Html.ValidationMessage("UD")
        </div>
        <p>
            <input type="submit" value="Reset Password" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
